<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <title>Welcome to geteventform App</title>
</head>
<body>
    <div class="container">
        <h1>Hello Welcome</h1>
    </div>
    <br>
    <div class="para">
        <h2>Hello this is a Simple Web app</h2>
        <br>
        <p>Here I have Used JavaScript, Node.js, Express.js which is a Node js framework, Also I used Mongo NOSQL Database and this database is online means all the data is store in cloud database</p>
           <br>
            <p>Here I have JWT(jsonwebtoken) for authentication and also here password is secured with npm bcrypt package
                Even I can't see you password in my database.
            </p> 
            <br>
            <p>This app has main 4 screens first is login page second is signup page and 3rd is authentic page which will only see when you loged in, this page is Home page or you can say dashboard page where all the data 
            is displayed in a table</p> <br>
          <p>4Th page is Event form page which is also authentic web page here you have to fill the form or book a event which will displayed on home page</p>
        </p>
        <br>
        <p>Basically this is a event listing app </p>
        <br>
        <p>Thankyou</p>
    </div>
    <button class="btn"><a href="/event/log-in">Log-in</a></button>
    <button class="btn1"><a href="/event/sign-up">Sign-up</a></button>
</body>
</html>